body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:  rgb(77, 255, 0);
  background-color: rgb(70, 70, 70);   
  margin: 0;
}

.form-control {
  width: 200px; 
}