@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h4>Add a new Machine</h4>

<p>@Html.ValidationMessageFor(model => model.MachineName, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.MachineName, "Machine Name")
  <br>
  @Html.TextBoxFor(model => model.MachineName)
  <input type="submit" value="Add new machine" />
}
<p>@Html.ActionLink("Show all machines", "Index")</p>